<<<<<<< HEAD
body {
    background-color: #e3f8f5;
}
.page {
    position: absolute;
    top: 5em;
    left: 9em;
    height: 100%;
    width: 100%;
}
.my_bio {
    background-color: rgb(56, 216, 181);
    width: 390px;
    height: 390px;
    text-align: center;
    border-radius: 9%;
}
.my_bio:hover{
    background-color: rgb(107, 252, 228);
    transform:scale(1.09);
}
.education-history{
    background-color: rgb(57, 117, 196);
    height: 390px;
    width: 390px;
    position: relative;
    left: 390px;
    text-align: center;
    border-radius: 9%;
}
.education-history:hover{
    background-color: rgb(130, 193, 245);
    transform:scale(1.09);
}
.hobbies{
    background-color: rgb(223, 163, 95);
    width: 390px;
    height: 390px;
    text-align: center;
    border-radius: 9%;
}
.hobbies:hover{
    background-color: rgb(238, 183, 121);
    transform:scale(1.09);
}
.photo{
    background-color: rgb(54, 219, 117);
    width: 390px;
    height: 390px;
    position: absolute;
    left: 780px;
    text-align: center;
    border-radius: 9%;
}
.photo:hover{
    background-color: rgb(115, 247, 155);
    transform:scale(1.09);
}
.contact-me {
    background-color: rgb(3, 187, 187);
    width: 390px;
    height: 390px;
    position: absolute;
    left: 780px;
    text-align: center;
    border-radius: 9%;
}
.contact-me:hover{
    background-color: rgb(55, 221, 221);
    transform:scale(1.09);
}
h1 {
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
=======
body {
    background-color: #e3f8f5;
}
.page {
    position: absolute;
    top: 5em;
    left: 9em;
    height: 100%;
    width: 100%;
}
.my_bio {
    background-color: rgb(56, 216, 181);
    width: 390px;
    height: 390px;
    text-align: center;
    border-radius: 9%;
}
.my_bio:hover{
    background-color: rgb(107, 252, 228);
    transform:scale(1.09);
}
.education-history{
    background-color: rgb(57, 117, 196);
    height: 390px;
    width: 390px;
    position: relative;
    left: 390px;
    text-align: center;
    border-radius: 9%;
}
.education-history:hover{
    background-color: rgb(130, 193, 245);
    transform:scale(1.09);
}
.hobbies{
    background-color: rgb(223, 163, 95);
    width: 390px;
    height: 390px;
    text-align: center;
    border-radius: 9%;
}
.hobbies:hover{
    background-color: rgb(238, 183, 121);
    transform:scale(1.09);
}
.photo{
    background-color: rgb(54, 219, 117);
    width: 390px;
    height: 390px;
    position: absolute;
    left: 780px;
    text-align: center;
    border-radius: 9%;
}
.photo:hover{
    background-color: rgb(115, 247, 155);
    transform:scale(1.09);
}
.contact-me {
    background-color: rgb(3, 187, 187);
    width: 390px;
    height: 390px;
    position: absolute;
    left: 780px;
    text-align: center;
    border-radius: 9%;
}
.contact-me:hover{
    background-color: rgb(55, 221, 221);
    transform:scale(1.09);
}
h1 {
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
>>>>>>> 635e0a3a105e4ba0a436f4e9fc7d2ae0b270444b
}